includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-doctrine/rules.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    excludes_analyse:
        - tests/*/data/*
        - src/Entity
        - src/DataFixtures
        - src/Migration
        - src/Security
