<!DOCTYPE html>

<title>Edit CsvKeyValues</title>

{% block body %}
    <h1>Edit CsvKeyValues</h1>

    {{ include('csv_key_values/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('csv_key_values_index') }}">back to list</a>

    {{ include('csv_key_values/_delete_form.html.twig') }}
{% endblock %}
