<!DOCTYPE html>

<title>New CsvKeyValues</title>

{% block body %}
    <h1>Create new CsvKeyValues</h1>

    {{ include('csv_key_values/_form.html.twig') }}

    <a href="{{ path('csv_key_values_index') }}">back to list</a>
{% endblock %}
