{% extends "MAIN/BASE.html.twig" %}

{% block body %}
	<button id="diagramButton" class="btnGlobal">{{'tGroupe'|trans}}</button>
	<div id="diagramSvg">
		{{svgUser|raw}}
	</div>
	<div id="diagramQuestion">{{'tHoverOverPoints'|trans}}</div>
{% endblock %}
