{% extends "MAIN/base.html.twig" %}

{% block body %}

<img style="grid-column:1/span all; grid-row:1/span all; width:20vw; justifiy-self:center;"src="/contents/images/site/diagram3.png">
<div id="diagramMain">


{{svgDiagram|raw}}



</div>






{% endblock %}
