{% extends "MAIN/base.html.twig" %}

{% block body %}


<div style="position:absolute; top:30px; left:30px; width:800px; height:800px; background:gray;">

<div style="position:absolute; top:7px; left:7px; z-index:90;">

	{{string|raw}}
</div>



{# {% for dia in diagram %}
	<div style="position:absolute; top:{{dia.x}}px; left:{{dia.y}}px; width:15px; height:15px; border-radius:15px; background:black;"></div>
{% endfor %}
</div> #}






{% endblock %}
