@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

$catamaran: 'Catamaran', sans-serif;
$bangers: 'Bangers', cursive;
$roboto: 'Roboto', sans-serif;
