// .MAIN_GRID {
//   background: rgb(245, 161, 161);
//   display: grid;
//   grid-template-columns: auto;
//   grid-template-rows: auto;
//   gap: 10px;
// }

.btnGlobal {
  background: $turkys;
  border-radius: 10px;
  white-space: nowrap;
  padding: 0px 20px 0px 20px;
  margin: auto;
  color: $white1;
  font-weight: 400;
  border: 0px;
  text-decoration: none;
  transition: color 3s;
  &:link {
    text-decoration: none;
    color: $white1;
  }
  &:hover {
    text-decoration: none;
    color: $orangeSub2;
  }
}

.btnGlobalSmall {
  white-space: nowrap;
  margin: 0px;
  color: $orangeMain;
  font-weight: 400;
  border: 0px;
  text-decoration: none;
  &:link {
    text-decoration: none;
    color: $orangeMain;
  }
  &:hover {
    text-decoration: none;
    color: $orangeMain;
    text-shadow:$turkys 0 0 2px;
  }
}

.btnLine {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  button,
  a,
  form {
    margin-left: 10px;
  }
}

.globalHidden
{
  display:none;
}

.h1 {
  font-size: 30px;
  color: $orangeMain;
  font-weight: 200;
}

.h2 {
  font-size: 15px;
  color: $orangeMain;
  font-weight: 200;
}

.p1{
  font-size: 12px;
}
