#adminMain{
  grid-column: 1/span all;
  grid-row: auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  gap:10px;
  form{
    grid-column: 1/span all;
    grid-row: auto;
    width: 40vw;
  }
  #adminButtonLine{
    grid-column: 1/span all;
    grid-row: auto;
  }
}
