#diagramMain {
  grid-column: 1 / span all;
  grid-row: 1 / span all;
  justify-items: center;
  align-items: center;
  margin: auto;
}

#diagramSvg {
  width: 80%;
  height: 80%;
  svg{
    &:hover .diagramText{
      fill:wheat;
    }
  }

}
#diagram:hover .diagramText{
  fill:wheat;

}
