#diagramMain {
  grid-column: 1 / span all;
  grid-row: 1 / span all;
}

#diagramSvg {
  display: flex;
  margin: 80px auto;
  justify-self: center;
  background: url("/contents/images/site/diagramBack.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 650px;
  height: 650px;
}

#diagramPng {
  width: 20vw;
}
