#diagramMain{
  background: url('/contents/images/site/diagramBack.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width:600px;
  height:600px;
  position:absolute;
  top:145px;
  left:145px;
}
