.list-teal {
  grid-column: 1 / span all;
  grid-row: 1/1;
  margin: 40px;
  display: flex;
  flex-flow: column nowrap;
  // grid-template-rows: repeat(auto-fill, minmax(10px,150px));
  // justify-items: center;
  .list-teal-title-block {
    display: flex;
    flex-flow: row nowrap;
    margin: 0px;
    justify-content: space-between;
    .list-teal-title {
      align-self: center;
    }
    .list-teal-company-logo {
      width: 150px;
      height: auto;
    }
  }
  table {
    svg {
      width: 25px;
    }
  }
  .list-teal-btnline {
    display: flex;
    flex-flow: row nowrap;
    justify-content: left;
    button,
    a,
    form {
      margin-left: 10px;
    }
  }
}
#list-teal-email {
  grid-column: 2/2;
  grid-row: 2 / span 4;
}
.list-teal-company-logo-table {
  width: 50px;
  height: auto;
}
