#loginMain {
  grid-column: 2/2;
  grid-row: 1 / span all;
  width: 600px;
  margin: 10px auto;
  padding: 10px auto;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(auto-fill,100px);
  justify-items: center;
  .loginImg {
    grid-row: 1/1;
    margin-top: 20px;
  }
  #loginTitle {
    grid-row: 2/2;
    margin: 60px auto;
    padding:auto;
  }
  #loginForm {
    grid-row: 3/3;
    margin: 20px auto;
    padding:auto;
  }
  #loginSubmit {
    grid-row: 4/4;
  }
}
