@import "~bootstrap/scss/bootstrap";
@import "./globalFonts";
@import "./globalColors";
@import "./globalClasses";
@import "./navigation.scss";
@import "./introduction.scss";
@import "./login.scss";
@import "./LIST.scss";
@import "./diagram.scss";
@import "./sondage.scss";
@import "./admin.scss";
@import "./csvfileimport.scss";

body {
  font-family: $catamaran;
  color: $turkys;
  font-size: 15px;
  background: $white1;
  //   background-image: linear-gradient($turkys 5%, $white1 90%);
  //   background-repeat: repeat;
  //   background-attachment: fixed;
  //
}
#MAIN {
  display: grid;
  grid-template-columns: 1fr 80vw 1fr;
  grid-template-rows: repeat(auto-fill, minmax(10px, 100px));
  #MAINLEFT {
    position: fixed;
    top: 0px;
    height: 100vh;
    width: 10vw;
    background-image: linear-gradient($turkys 5%, $white1 90%);
    background-repeat: repeat;
    background-attachment: fixed;
  }
  #MAINRIGHT {
    position: fixed;
    top: 0px;
    right: 0px;
    height: 100vh;
    width: 10vw;
    background-image: linear-gradient($turkys 5%, $white1 90%);
    background-repeat: repeat;
    background-attachment: fixed;
  }
  #MAINHEADER {
    grid-column: 2/2;
    grid-row: 1 / 1;
    width: 80vw;
    justify-self: center;
    background: $white1;
    #MAINLOGOLINK {
      #MAINLOGO {
        max-width: 20vw;
        margin: 20px;
      }
    }
  }
  #CONTAINER {
    grid-column: 2/ 2;
    grid-row: 2 / 2;
    background: $white1;
    width: 80vw;
    height: 80vh;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: repeat(12,1fr);
    gap:10px;
    #MASSAGES{
      grid-column: 1/ span all;
      grid-row: auto;
    }
  }
}
