#navBurger {
  grid-column: 2/2;
  grid-row: 1/1;
  justify-self: right;
  padding: 20px;
  z-index: 90;
  svg{
    fill: $gray3;
  }
}
#navMain {
  grid-column: 2/2;
  grid-row: 1/ 1;
  justify-self: right;
  width: 30vw;
  height: 100vh;
  z-index: 80;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  gap: 10px;
  background: $gray1;
  box-shadow: -5px 5px 5px $gray2;
  // div:nth-child(0n + 3) {
  //   margin-bottom: 60vh;
  // }
  .navMainButtons {
    background: $gray1;
    grid-column: 1 / 1;
    grid-row: 1/1;
    padding: 20px 60px 20px 20px;
  }
  .navSubButtons {
    grid-column: 1 / 1;
    grid-row: 1/1;
    margin-top: 60px;
    margin-bottom: 20vh;
    padding: 20px;
    background: $gray1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    a{
      color: $gray3;
      transition: font-weight 0.1s;
      text-decoration: none;
      &:hover{
        font-weight: 800;
      }
    }
    hr{
      color: $gray3;
      background: $gray3;
      z-index: 100;
      border:1px;
      width: 100%;
      height: 1px;
    }
  }
  #navSubjects{
    grid-column: 1 / 1;
    grid-row: 1/1;
  }
}
