#sondageMain {
  grid-column: 2/2;
  grid-row: 1/8;
  display: grid;
  grid-template-columns: minmax(10%, 100%);
  grid-template-rows: auto;
  gap: 30px;
  justify-items: left;
  .sondagelogo {
    width: 80%;
    height: auto;
  }
  #sondageQuestion {
    grid-column: 1/1;
    grid-row: auto;
    color: $turkys;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
    width: minmax(20%, 80%);
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
  }
  #sondageForm {
    grid-column: 1/1;
    grid-row: auto;
    display: grid;
    grid-template-columns: 50px, 100%;
    grid-template-rows: repeat(5, 1fr);
    gap: 20px;
    align-items: center;
    .sondageAnswerSvg {
      grid-column: 1/1;
      grid-row: auto;
    }
    .sondageAnswers {
      grid-column: 2/2;
      grid-row: auto;
      text-align: left;
      font-family: $catamaran;
      font-size: 15px;
      font-weight: normal;
      background: rgba($color: $white1, $alpha: 1);
      border: 0px;
      border-radius: 5px;
      overflow-wrap: break-word;
      word-wrap: break-word;
      hyphens: auto;
    }
  }
  #sondageHeartMain {
    grid-column: 1/1;
    grid-row: auto;
    margin-top:40px;
    justify-self: center;
    display: flex;
    flex-flow: column nowrap;
  }
  #sondageHeartDiv {
    justify-self: center;
    margin: auto;
  }
}
.sondageArrows {
  grid-row: 1 / span all;
  justify-self: center;
  align-self: center;
  width: 44px;
  height: 44px;
  svg {
    fill: #d9d9d9;
    &:hover {
      fill: $gray3;
    }
  }
}

#sondageArrowLeft {
  @extend .sondageArrows;
  grid-column: 1/1;
  transform: rotate(180deg);
}
#sondageArrowRight {
  @extend .sondageArrows;
  grid-column: 3/3;
}



