<div class="list-teal-btnline">
	<button form="MAINFORM" class="btnGlobal">{{'tSave'|trans}}</button>
	<a class="btnGlobal" href="{{ path(className(element_teal)|lower~'_index') }}">{{'tBackToList'|trans}}</a>
	{{ include('MAIN/_delete_form.html.twig') }}
</div>
