{% extends "MAIN/BASE.html.twig" %}
{% block body %}
	<div class="list-teal">
		<img class="list-teal-logo" src="/contents/images/logos/tlb.png" alt="logo tlb">
		<h1 class="h1 list-teal-title">
			{{attribute(element_teal, "name") ? element_teal.name : attribute(element_teal, "title") ? element_teal.title : ""}}
		</h1>
		<table class="table">
			<tbody>
				{% for property in cast_to_array(element_teal) %}
					<tr>
						<th>{{('t'~property|capitalize)|trans}}</th>
						{% if property == "logo" %}
							<td>
								<img class="list-teal-company-logo-table" alt="Company Logo" src="data:image/png;base64,{{ get_string(element_teal,property) }}"/>
							</td>
						{% else %}
							<td>{{ get_string(element_teal,property,20,', ')|raw }}</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% include "MAIN/_button_line.html.twig" %}
	</div>
{% endblock %}
