<!DOCTYPE html>

<title>New Language</title>

{% block body %}
    <h1>Create new Language</h1>

    {{ include('language/_form.html.twig') }}

    <a href="{{ path('language_index') }}">back to list</a>
{% endblock %}
