{% extends "MAIN/BASE.html.twig" %}
{% block body %}
<div id="adminMain">
	{% include "MAIN/_form.html.twig" %}
	{% include "MAIN/_list.html.twig" %}
	{% include "MAIN/_button_line.html.twig" %}
</div>
{% endblock %}
