<!DOCTYPE html>

<title>New Result</title>

{% block body %}
    <h1>Create new Result</h1>

    {{ include('result/_form.html.twig') }}

    <a href="{{ path('result') }}">back to list</a>
{% endblock %}
