#logo{
  width: 150px;
  height: auto;
}

div{
  margin-top: 10px;
  padding: 10px;
}

a{
  color: black !important;
  font-size: 33px;
}
div > a{
  color: black;
}

div + a{
  color: black;
}
div, a{
  color: black;
}
