<!DOCTYPE html>

<title>Hello OAuthController!</title>

{% block body %}
<div>
<h1>Oauth App</h1>
<a href="{{path('oauthlinkedincompany')}}">connectez vous a linkedin company!</a>
</div>
{% endblock %}
