<!DOCTYPE html>

<title>New Keytext</title>

{% block body %}
    <h1>Create new Keytext</h1>

    {{ include('keytext/_form.html.twig') }}

    <a href="{{ path('keytext_index') }}">back to list</a>
{% endblock %}
