{% extends "MAIN/BASE.html.twig" %}
{% block body %}
	<div id="verifictationMain">
		{% include "MAIN/_form.html.twig" %}
		<button form="MAINFORM" class="btnGlobal">{{'tValider'|trans}}</button>
	</div>
{% endblock %}
