{% apply inline_css(source('@emailcontent/email.css')) %}

<a href="http://www.tealfinder.com" >
	<img id="logo" src="{{email.image('@emailcontent/tlb.png')}}" alt="logo tlb">
</a>

<div>
	{{message}}
</div>


{% endapply %}
